registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@jridgewell:registry=https://registry.npmjs.org/
@jest:registry=https://registry.npmjs.org/
@sinonjs:registry=https://registry.npmjs.org/
@bcoe:registry=https://registry.npmjs.org/
@istanbuljs:registry=https://registry.npmjs.org/